* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
}

@font-face {
  font-family: "raleway";
  font-weight: 300;
  font-style: normal;
  src: local("raleway"), url("../fonts/raleway-v22-cyrillic-300.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "raleway";
  font-weight: 100;
  font-style: normal;
  src: local("raleway"), url("../fonts/raleway-v22-cyrillic-100.woff2") format("woff2");
  font-display: swap;
}
body {
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  background: #000;
  color: white;
  font-size: calc((1vh + 1vw) * 0.8);
  font-family: "raleway", sans-serif;
  line-height: 1.75;
  height: 5000px;
  font-weight: 300;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.container {
  width: 100%;
  height: 100%;
  position: fixed;
  perspective: 1500px;
}

.gallery {
  transform-style: preserve-3d;
  height: 100%;
}

.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.75s cubic-bezier(0.075, 0.5, 0, 1), opacity 0.75s ease;
  will-change: transform;
  transform-style: preserve-3d;
}

h1, h2, h3, h4 {
  font-weight: 100;
  text-transform: uppercase;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  line-height: 1;
}

.frame h2 {
  text-align: center;
  font-size: calc((1vh + 1vw) * 3.3);
}

.frame-media {
  position: relative;
  width: calc((1vh + 1vw) * 26);
  height: calc((1vh + 1vw) * 36);
  background-position: center;
  background-size: cover;
}

.frame-media_left {
  right: calc(13 * (1vh + 1vw) + 30px);
}

.frame-media_right {
  left: calc(13 * (1vh + 1vw) + 30px);
}

.frame__opacity {
  background-color: rgba(0, 0, 0, 0.87);
}

video.frame-media {
  width: calc((1vh + 1vw) * 36);
  height: calc((1vh + 1vw) * 26);
}

video.frame-media_right {
  left: calc(18 * (1vh + 1vw) + 30px);
}

video.frame-media_left {
  right: calc(18 * (1vh + 1vw) + 30px);
}

.text-right > * {
  position: relative;
  left: 18vw;
}

.text-left > * {
  position: relative;
  right: 18vw;
}

.frame h3 {
  font-size: calc((1vh + 1vw) * 3);
}

.frame p {
  max-width: 30vw;
  margin-top: 3vh;
}

.soundbutton {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  cursor: pointer;
  width: 50px;
  transition: 0.25s ease;
  background: transparent;
}

.soundbutton.paused {
  opacity: 0.25;
}/*# sourceMappingURL=style.css.map */